<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <title>Convite Evento Coca-Cola</title>
  <style>
    body { font-size: .8em; }
    .width-70 {
      background: url("http://i.imgur.com/Z6y1wOi.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: -10% auto;
    }
    .width-70 { width: 73%; margin: 0; padding: 0; float: left }
    .width-30 {  margin: 0; padding: 0; text-align: center; background: white; width: 26.8%; float: right; color: white; border-left: 2px dotted #999; }
    .width-30 img { width: 90%; display: block; margin: 46.2% auto; padding: 0; }

    .container { border: 1px solid #999; height: 100%; border-radius: 4px; overflow: hidden; }
    .content-padding { padding: .2em 1em .2em 1em }

    .label-container { background: white; font-size: .6em;  margin: 0 0 .8em 0; padding: .4em .8em; } 
    .label-container:last-child { margin-bottom: 1.5em } 
    .definition { font-family: "Arial", sans-serif; color: #E41E2C; display: block; font-size: .7em; font-weight: bold; text-transform: uppercase; }
    .value { color: #222; display: block; margin-top: .1em; font-weight: 500; font-size: 1.7em; text-transform: uppercase; line-height: .9em; font-family: "Crimson Text" !important }
    .barcode { background: white; padding: .2em; margin: 0 auto;  }

    .mid-container { width: 46.57%; display: inline-block; }
    .mid-container.mid-second { margin-left: .6em; }
    .red-label { padding: .4em 0 0 .6em }
    h4 { text-align: right; margin: 0; padding: 0  } 
    
  </style>
</head>

<body>
  <div class="container">
    <div class="width-70">
      <div class="content-padding">
        <h4><img src="http://i.imgur.com/IQ5T872.png" style="width: 65%"/></h4>  


      <div class="label-container red-label">
        <img src="http://i.imgur.com/7QLMdh3.png" style="width: 85%"/>
      </div>



      <div class="label-container">
        <span class="definition">
           Destino 
        </span>

        <span class="value">
          1 SISTEMA 1 VOZ  |  COCA-COLA BRASIL
        </span>
      </div>

      <div class="label-container">
        <span class="definition">
           Data
        </span>

        <span class="value">
          <%= I18n.l @guest.created_at, format: :long_no_hour  %>
        </span>
      </div>



      <div class="label-container mid-container">
        <span class="definition">
           Horário de Embarque 
        </span>

        <span class="value">
          8:00 
        </span>
      </div>


      <div class="label-container mid-container mid-second">
        <span class="definition">
           Horário de Desembarque 
        </span>

        <span class="value">
          18:00
        </span>
      </div>



      <div class="label-container">
        <span class="definition">
          Local de embarque
        </span>

        <span class="value">
          ROYAL TULIP - Av. Aquarela do Brasil, 75 / São Conrado
        </span>
      </div>




      <div class="label-container">
        <span class="definition">
           Nome 
        </span>

        <span class="value">
          <%= @guest.name  %>
        </span>
      </div>






      <div class="label-container">
        <div class="barcode">
          <img src="<%= @file %>" style="width: 100%"/>
          
        </div>
      </div>
      

      </div>
    </div>

    <div class="width-30">
     <img src="http://i.imgur.com/QTdbN2F.png"/>
    </div>
  </div>

</body>
</html>
